$face: #0087ff;
$flourish: #631090;
$shadowdots: #00B7FF;
$shadow: #0087ff;

.CollectionHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 50px;
  margin-bottom: 50px;

}

.CollectionHeader h1 {
  font-family: 'Rig Bold Face', sans-serif;
  text-transform: uppercase;
  font-size: 80px;
  text-align: center;
  font-weight: normal;
  color: $face;
  letter-spacing: .6rem;
  width: 100%;

  &:before,
  &:after,
  span:before,
  span:after {
    content: attr(data-heading);
    position: absolute;
    overflow: hidden;
    left: 0;
    top: -50%;
    width: 100%;
    font-weight: normal;
    text-shadow: none;
  }

  &::before {
    font-family: 'Rig Bold Coarse', sans-serif;
    color: $shadowdots;
    transform: translate(0, 40%);
  }

  &::after {
    font-family: 'Rig Bold Extrude', sans-serif;
    color: $shadow;
    transform: translate(0, 40%);
    z-index: -1;

  }
}


@font-face {
  font-family:'Rig Bold Coarse';
  src:url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/Rig-BoldCoarse.otf');
}

@font-face {
  font-family:'Rig Bold Extrude';
  src:url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/Rig-BoldExtrude.otf');
}

@font-face {
  font-family:'Rig Bold Shadow';
  src:url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/Rig-BoldShadow.otf');
}

@font-face {
  font-family:'Rig Bold Face';
  src:url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/Rig-BoldFace.otf');
}

@font-face {
  font-family:'Rig Bold Inline';
  src:url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/Rig-BoldInline.otf');
}

@media (max-width: 800px) {
  .CollectionHeader {
    margin-bottom: 5px;
  }
    .CollectionHeader h1 {
    font-size: 70px;
  }
}
@media (max-width: 600px) {
  .CollectionHeader h1 {
    font-size: 60px;
  }
}

@media (max-width: 420px) {
  .CollectionHeader h1 {
    font-size: 40px;
  }
}
@media (max-width: 320px) {
  .CollectionHeader {
    margin-bottom: 0px;
  }
  .CollectionHeader h1 {
    font-size: 35px;
  }
}