.NumberInput {
    display: flex;
    justify-content: center;
    align-items:center;

}
.NumberInput input {
    min-height: 60px;
    outline: none;
    background: #36363c;
    color: #fff;
    padding: 1em;
    font-size: 12px;
    letter-spacing: 1px;
    border-radius: 4px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
    cursor: pointer;
    border: 2px solid transparent;
    width:100%;
}

.Arrows button {
    margin: 5px 0px 5px 5px;
    height: 5px;
    width: 5px;
    display: flex;
    justify-content: center;
    align-items:center;
    outline: none;
    background: #36363c;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);
    border: 2px solid transparent;
}

.Arrows button:hover,
.Arrows button:active{
    color: #0087ff;
    border: 2px solid #0087ff;
}
.Arrows button:disabled{
    opacity: 0.5;
}