.MidiCard{
    text-align: center;
    width:300px;
    height:300px;
    border-radius: 10px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);
    color: #fff;
    font-size: 18px;
    margin: 5px 5px 5px 5px;
    border: 2px solid transparent;
    background: #36363c;
}

.MidiCard button {
    margin: 5px 5px 5px 8px;
    outline: none;
    background: #42424a;
    color: #fff;
    padding: 1em;
    font-size: 12px;
    letter-spacing: 1px;
    border-radius: 4px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);
    cursor: pointer;
    border: 2px solid transparent;
    width: 80%;
    height: 20%;
}
.MidiCard button:hover,
.MidiCard button:active{
    color: #0087ff;
    border: 2px solid #0087ff;
}