.MidiCard{
    text-align: center;
    width:300px;
    height:300px;
    border-radius: 10px;
    /*box-shadow: 5px 5px 15px 15px rgba(0, 0, 0, .2);*/
    color: #fff;
    font-size: 100%;
    border: 2px solid #00B7FF;
    background: #36363c;
    overflow: hidden;
    transition: 0.5s;
}


.MidiCard:hover{
    transform: translateX(-2.5rem);
}

.MidiCard:not(:first-child){
    margin-left: -1.5rem;
}

.MidiCard h4{
    font-family: 'Rig Bold Face', sans-serif;
    text-transform: uppercase;
    margin: 20px;
    font-weight: bold;
    letter-spacing: 5px;
    color: white;
    font-size: 150%;

}


.MidiCard h5 {
    color: #818181;
    margin-right: 10px;
    font-family: 'Rig Bold Face', sans-serif;
    font-size: 120%;
}

.MidiCard p {
    font-size: 100%;
    font-family: 'Rig Bold Face', sans-serif;

}


.MidiCard button {
    font-family: 'Rig Bold Face', sans-serif;
    margin: 5px 5px 5px 8px;
    outline: none;
    background: #42424a;
    color: #fff;
    padding: 1em;
    font-size: 100%;
    letter-spacing: 1px;
    cursor: pointer;
    width: 60%;

}
.MidiCard button:hover,
.MidiCard button:active{
    color: #00B7FF;
}

.DeleteButton {
    position: absolute;
    top: 0%;
    left: 58%;
    background: transparent !important;
    border: 0px solid transparent;
}

.DescriptionItem {
    display: flex;
    align-items: end;
    justify-content: center;

}