.MidiCard{
    text-align: center;
    width:300px;
    height:300px;
    border-radius: 10px;
    box-shadow: -10px 4px 35px 15px rgba(0, 0, 0, .5);
    color: #fff;
    font-size: 18px;
    border: 2px solid transparent;
    background: #36363c;
    overflow: hidden;
    transition: 0.5s;
}


.MidiCard:hover{
    transform: translateX(-2.5rem);
}

.MidiCard:not(:first-child){
    margin-left: -1.5rem;
}

.MidiCard h4{
    margin: 20px;
    font-weight: bold;
    letter-spacing: 5px;

}
.MidiCard h5 {
    color: #818181;
    margin-right: 10px;
}
.MidiCard p {

}

.MidiCard button {
    margin: 5px 5px 5px 8px;
    outline: none;
    background: #42424a;
    color: #fff;
    padding: 1em;
    font-size: 12px;
    letter-spacing: 1px;
    border-radius: 4px;
    /*box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);*/
    box-shadow: -5px 2px 5px 0px rgba(0, 0, 0, .3);
    cursor: pointer;
    border: 2px solid transparent;
    width: 80%;
    height: 20%;
}
.MidiCard button:hover,
.MidiCard button:active{
    color: #0087ff;
    border: 2px solid #0087ff;
}

.DescriptionItem {
    display: flex;
    align-items: end;
    justify-content: center;

}